
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

body {
	font-family: "Source Sans Pro", "Arial"; 
	background-color:white;
	width:100%;
	min-width:500px;
	height:300px;
	min-height:100%;
	margin:0;
	padding:0;
	

	@media screen and (orientation:portrait) {
		text-size-adjust: 160%;
	}
	@media screen and (orientation:landscape) {
		text-size-adjust: 100%;
	}

	
}


.mediumfont{
	font-size: 80%!important;
}

.smallfont {
	font-size: 70%!important;
}



#main {
	
	padding: 2em;
	
}


.loader {
	border-top: 0.25em solid #565656; 
	border-bottom: 0.25em solid #565656; 
	border-left: 0.25em solid #FFDAB9; 
	border-right: 0.25em solid #FFDAB9; 
	border-radius: 100%;
	width: 0.5em;
	height: 0.5em;
	animation: spin 2.5s linear infinite;
	%text-align:center;
	margin: auto;
	%float:right;
}


.loader.large {
	border-top: 5em solid white; 
	border-bottom: 5em solid white; 
	border-left: 5em solid #FFDAB9; 
	border-right: 5em solid #FFDAB9; 
	border-radius: 100%;
	width: 15em;
	height: 15em;
	animation: spin 2.5s linear infinite;
	%text-align:center;
	margin: auto;
	%float:right;
}


.uploader {
	height:10em;
	border-style:dashed;
	color:#333;
	border-radius: 1em;
	border-color:#bbb;
	text-align:center;
	vertical-align:middle;
	margin: 1em;
	overflow-y:auto;
	overflow-x:auto;
}




.uploader.dz-drag-hover, .uploader:hover {
	background-color:#FFDAB9;
	color: #565656;
}

.uploader > div {
	text-size-adjust:200%;
	font-size:200%;
	margin-top: 1em;
	padding: 10;

	
}


.dz-preview, .dz-file-preview {
    display: none;
}

#upload_div, #graphics_div{
	text-align:center;
	margin: 1em 0em;
}





.button{
	transition: all 0.2s ease 0s;
	border-radius:0.5em;
	padding: 0.25em;
	margin: 0.5em;
	border-color:black;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	color:black;


}


.button.large{
	font-size:150%;
	padding: 0.5em;
}

.button.disabled {
	background-color:#696969;
	cursor:auto;
	color:white;
}






.button:hover{
	color:#565656;
	background-color:#FFDAB9; %peach
}

.button.disabled:hover {
	background-color:#696969;
}


#svgouter{
	text-align:center;
	width:0;
	height:0;
 	border-left:2px solid #000;
 	border-top:2px solid #000;
    %overflow: scroll;
}



#svg{
	%border-width:1px;
	%border-style: dotted;
}


#svg.resizing{
	 opacity: 0.5;
}


#svg text{
	font-family:'Courier New';
	dominant-baseline:middle; 
}


/* Tabs
	http://jsfiddle.net/csDP9/9/s 
*/
ul.tabs {
	position:fixed;
	bottom:0;
    list-style: none;
    margin: 0;
    z-index: 5;
}
ul.tabs li {
    color: #666;
    background: #fefefe;
    padding: 14px 24px 10px;
    margin: 0px -6px 0 10px;
    position: relative;
    float: left;
    text-align: center;
    z-index: 1;
    cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
ul.tabs li::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 70%;
    height: 100%;
    border-style: solid;
    border-color: #bbb;
    border-width: 2px 0 2px 2px;
    border-radius: 8px 0 0 0;
    -webkit-transform: skewX(-15deg);
       -moz-transform: skewX(-15deg);
         -o-transform: skewX(-15deg);
            transform: skewX(-15deg);
    background-color: inherit;    z-index: -1;
}
ul.tabs li::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 70%;
    height: 100%;
    border-style: solid;
    border-color: #bbb;
    border-width: 2px 2px 2px 0;
    border-radius: 0 8px 0 0;
    -webkit-transform: skewX(15deg);
       -moz-transform: skewX(15deg);
         -o-transform: skewX(15deg);
            transform: skewX(15deg);
    background-color: inherit;
    z-index: -1;
}
ul.tabs li.active {
    color: white;
    z-index: 10;
    %font-weight: bold;
}
ul.tabs li.active::before,
ul.tabs li.active::after {
    background-color: #333; 
    border-color: #444;
}
ul.tabs li:not([class='active']):hover::before,
ul.tabs li:not([class='active']):hover::after {
    background-color: #FFDAB9; 
}


ul.tabs li.active:hover::before,
ul.tabs li.active:hover::after {
    background-color: #bbb; 
    border-color: #bbb;
}


#options_tabs{
	%position:fixed;
}

.optionsSlideIn {
	 box-shadow:
	 inset 0 -5em 5em #FFDAB955;
             %0 0  0 2px white,
             %0.5em 0.5em 1em #FFDAB955;
	transition: visibility 0s 0.6s;
	position: fixed;
	bottom: 0;
	left:5%;
	width: 90%;
	transition: transform 0.3s 0s;
	transform: translateY(-50px);
	
	border: 1px solid black;
	border-radius: 5px;
  
	background-color:white;
	%height:200px;
	padding:5px;
	z-index:100;

}

.optionsBox{
	max-width: 250px;
	text-align:center;
}

.optionsSlideIn div {
	
	width:100%;
	padding: 2px;
	text-align:center;
	
}

.optionsSlideIn div div {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	%flex-wrap: wrap;
	
}

.draggableDivision{
	position:absolute;
}

.draggableDivision.x{
	cursor:ew-resize;
}

.draggableDivision.y{
	cursor:ns-resize;
}




.slidecontainer {
  width: 100%; /* Width of the outside container */
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;  
  background: #FFDAB9;
  border: 1px solid black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}




.dropdown{
	border: 1px solid black;
	border-radius: 5px;
	padding:5;
	background-color:white;
}


.dropdown:after{
	width: 0; 
	height: 0; 
	position: absolute;
	top: 40%;
	right: 5px;
	content: "";
	z-index: 98;
}

.dropdown select{
	border: 0;
	position: relative;
	z-index: 99;
	background: none;
	width: 250px;
}




