
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

html{
	%height:100%;/* make sure it is at least as tall as the viewport */
}


body {
	font-family: "Source Sans Pro", "Arial"; 
	background-color:white;
	color:#222;
	width:100%;
	min-width:500px;
	%height:100%;
	margin:0;
	padding:0;
	

	@media screen and (orientation:portrait) {
		text-size-adjust: 160%;
	}
	@media screen and (orientation:landscape) {
		text-size-adjust: 100%;
	}

	
}
/*
	leaf green #5ca904
	peach pink #FFDAB9
*/

#mainHeader{
	background-color:#b0fb5aaa;
	color:#333;
	width:60%;
	margin:auto;
	font-weight: bold;
	border-radius:0em 0em 10em 10em;
	%font-size:120%;
	%margin: 0.1em;
	border-width:0.05em;
	border-color:black;
	border-style:solid;
	margin-bottom: -1em;
	padding: 0.5em;
	box-shadow: inset 0em -4em 4em #5ca904aa; 

}


#mainHeader h1{
	font-size:3em;
	margin:0em;
	margin-bottom:-0.2em;
}

#mainHeader h4{
	font-size:1.2em;
	margin-top:0em;
	margin-left:2em;
	margin-right:2em;
	margin-bottom:1em;
	%color:black;
}

#mainHeader h4 b{
	%color:white;
	font-size:1.1em;
}


#softwareDescDiv{
	
	width:60%;
	margin:auto;
	margin-top:5em;
	text-align:justify;
}

.mediumfont{
	font-size: 80%!important;
}

.smallfont {
	font-size: 70%!important;
}


#upload_div table{
	text-align:center; 
	margin:auto; 
	width:60%
}


.uploader {
	height:20em;
	border-style:dashed;
	border-width: 0.1em;
	color:#333;
	%padding:0;
	border-color:black;
	text-align:center;
	vertical-align:middle;
	margin: 0.1em;
	%overflow-y:auto;
	%overflow-x:auto;
	%max-width:800px;
}



.uploader.top{
	%border-radius: 1em;
	background-color:#FFDAB9;
	box-shadow: inset 0 -7em 7em #ffb26d;
	border-radius: 10em 10em 0em 0em;
}

.uploader.left{
	border-radius: 0em 0em 8em 10em;
}

.uploader.right{
	border-radius: 0em 0em 10em 8em;

}


.uploader.side {
	background-color:#ffb26d;
	box-shadow: inset 0 -6em 6em #ff973a;
	
}


.uploader.dz-drag-hover, .uploader:hover {
	color: #565656;
	%cursor:pointer;
}


.uploader.top.dz-drag-hover, .uploader.top:hover {
	background-color:#5ca904;
	box-shadow: inset 0 -10em 10em #b0fb5a;
}



.uploader.side.dz-drag-hover, .uploader.side:hover {
	background-color:#b0fb5a;
	box-shadow: inset 0 -3em 3em #5ca904;
}





.uploader > div {
	text-size-adjust:200%;
	font-size:180%;
	margin-top: 3em;
	%padding: 1em;
}

.uploader.loading{
	background-color:white;
	box-shadow:none;
}

.uploader.loading:hover{
	background-color:white;
	box-shadow:none;
}



#main {
	
	padding: 2em;
	width:80%;
	min-width:600px;
	margin:auto;
	
}





.dz-preview, .dz-file-preview {
    display: none;
}

#upload_div, #graphics_div{
	text-align:center;
	margin: 1em 0em;
}

#graphics_div{
	margin-top: 3em;
	min-width: 600px;
	overflow:hidden;
}



.button{
	transition: all 0.1s ease 0s;
	border-radius:0.2em;
	font-size:110%;
	padding: 0.1em;
	margin: 0.1em;
	border-color:black;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	color:black;
	background-color:#5ca904;
	color:white;
}






.button:hover{
	background-color:#FFDAB9; /* %peach */
	color:black;
}

.button.disabled {
	background-color:#696969;
	cursor:auto;
	color:white;
}


#ctrl_loading_div{
	%float:right;
}

.button.large{
	font-size:130%;
	padding: 0.5em;
}



.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;
}





.optionsSlideIn .button{
	background-color:white;
}

.optionsSlideIn .button:hover{
	color:#565656;
	background-color:#FFDAB9; 
}


#svgouter{
	text-align:center;
	%overflow-y: scroll;
 	%border-left:2px solid #000;
 	%border-top:2px solid #000;
    %overflow: scroll;
}




#svg{
	%border-width:1px;
	%border-style: dotted;
}


#svg.resizing{
	 opacity: 0.5;
}


#svg text{
	font-family:'Courier New';
	dominant-baseline:middle; 



  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */


}


#svg .taxon {
	cursor:pointer;
}

#svg .node {
	cursor:pointer;
}

#svg .taxon.selected {
	fill:#5ca904;
	font-weight:bold;
}


#svg .symptom:hover{
	fill:"#F7941D";
}


/* Tabs
	http://jsfiddle.net/csDP9/9/s 
*/
ul.tabs {
	position:fixed;
	bottom:0;
    list-style: none;
    margin: 0;
    z-index: 5;
}
ul.tabs li {
    color: white;
    background: #fefefe;
    padding: 14px 24px 10px;
    margin: 0px -6px 0 10px;
    position: relative;
    float: left;
    text-align: center;
    z-index: 1;
    cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
ul.tabs li::before {
	background-color:#5ca904;
	color:white;
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 70%;
    height: 100%;
    border-style: solid;
    border-color: black;
    border-width: 0.05em 0 0.05em 0.05em;
    border-radius: 8px 0 0 0;
    -webkit-transform: skewX(-15deg);
       -moz-transform: skewX(-15deg);
         -o-transform: skewX(-15deg);
            transform: skewX(-15deg);
    z-index: -1;
}
ul.tabs li::after {
	background-color:#5ca904;
	color:white;
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 70%;
    height: 100%;
    border-style: solid;
    border-color: black;
    border-width: 0.05em 0.05em 0.05em 0;
    border-radius: 0 8px 0 0;
    -webkit-transform: skewX(15deg);
       -moz-transform: skewX(15deg);
         -o-transform: skewX(15deg);
            transform: skewX(15deg);
    z-index: -1;
}
ul.tabs li.active {
    color: white;
    z-index: 10;
    %font-weight: bold;
}
ul.tabs li.active::before,
ul.tabs li.active::after {
    background-color: #ff973a; 
   % border-color: #ff973a;
}
ul.tabs li:not([class='active']):hover::before,
ul.tabs li:not([class='active']):hover::after {
    background-color: #b0fb5a; 
    %border-color: #b0fb5a;
}


ul.tabs li:not([class='active']):hover{
    color:black;
}



ul.tabs li.active:hover::before,
ul.tabs li.active:hover::after {
    background-color: #ffb26d; 
    %border-color: #ffb26d;
}


#options_tabs{
	%position:fixed;
}

.optionsSlideIn {
	background-color:#b0fb5aee;
	box-shadow: inset 0 -7em 7em white;
	transition: visibility 0s 0.6s;
	position: fixed;
	bottom: 0;
	width: 80%;
	left: 10%;
	transition: transform 0.3s 0s;
	transform: translateY(-50px);
	
	border: solid #333;
	border-radius: 1em;
	border-width:0.05em;
  
	
	%height:200px;
	padding:5px;
	z-index:100;

}



.optionsBox{
	max-width: 220px;
	text-align:center;
	margin-right: 25px;
}

.optionsBox.small{
	max-width: 110px;
}

.optionsSlideIn div {
	
	width:100%;
	padding-left: 2em;
	text-align:left;
	
}

.optionsSlideIn div div {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	%flex-wrap: wrap;
	
}

.draggableDivision{
	position:absolute;
}

.draggableDivision.x{
	cursor:ew-resize;
}

.draggableDivision.y{
	cursor:ns-resize;
}

.draggableDivision.scroll{
	cursor:grab;
}






.slidecontainer {
  width: 100%; /* Width of the outside container */
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;  
  background: #FFDAB9;
  border: 1px solid black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}




.dropdown{
	border: 1px solid black;
	border-radius: 5px;
	padding:5;
	background-color:white;
}


.dropdown:after{
	width: 0; 
	height: 0; 
	position: absolute;
	top: 40%;
	right: 5px;
	content: "";
	z-index: 98;
}

.dropdown select{
	border: 0;
	position: relative;
	z-index: 99;
	background: none;
	width: 250px;
}


/*
.loader {
	border-top: 0.25em solid #565656; 
	border-bottom: 0.25em solid #565656; 
	border-left: 0.25em solid #FFDAB9; 
	border-right: 0.25em solid #FFDAB9; 
	border-radius: 100%;
	width: 0.5em !important;
	height: 0.5em  !important;
	animation: spin 2.5s linear infinite;
	margin: auto;
}
*/


.loader {
	border-top: 0.1em solid #5ca904aa; 
	border-left: 0.1em solid #5ca904aa; 
	border-bottom: 0.8em solid white; 
	border-right: 0.8em solid white; 
	border-radius: 100%;
	background-color:#FFDAB9;
	box-shadow: inset 0 -0.5em 0.5em #ffb26d;
	width: 2em  !important;
	height: 2em  !important;
	animation: spin 2.5s linear infinite;
	margin: auto;
}


.loader.large {
	border-top: 0.6em solid #5ca904aa; 
	border-left: 0.6em solid #5ca904aa; 
	border-bottom: 5em solid white; 
	border-right: 5em solid white; 
	background-color:#FFDAB9;
	box-shadow: inset 0 -6em 8em #ffb26d; /*, inset -4em 3em 1em #ffb26d; */
	width: 15em  !important;
	height: 15em  !important;
	margin: auto;
	margin-top:5em;
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderboolean {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  border: 1px solid black;
}

.sliderboolean:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  border: 1px solid black;
}

input:checked + .sliderboolean {
  background-color: #FFDAB9;
}

input:focus + .sliderboolean {
  box-shadow: 0 0 1px #FFDAB9;
}

input:checked + .sliderboolean:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}


#control_panel_div{
	font-size: 12px;
	text-align:left;
	display: flex;
	flex-wrap: wrap;
	align-items:flex-start;
	padding-top:5em;
}


#control_panel_div div{
	margin-right: 1em;
	padding: 0.2em;
	vertical-align:top;
}

#control_panel_div .button{
	padding: 0.2em;
}
	
	
.ui-autocomplete-input{
	width: 200px;
	box-sizing: border-box;
}
	
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

